.Home-Page--Tweet-Container-Wrapper-Guidance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14em;
  flex-direction: column;
}
.Home-Page--Tweet-Container-Wrapper-Guidance svg {
  width: 3em;
  height: 4em;
}
.Home-Page--Tweet-Container-Wrapper-Guidance p {
  text-align: center;
  margin: 0;
}
